{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
